#忽略microblog目录下的.git文件夹
/.git/

#忽略__pycache__文件夹
/__pycache__/

#忽略logs文件夹
/logs/

#忽略venv文件夹
/venv/

#忽略根目录microblog下的app.db文件
/app.db

#忽略以.env为后缀的文件
*.env

#忽略所有以.pyc为后缀的文件
*.pyc

/app/__pycache__/

/app/auth/__pycache__/

/app/errors/__pycache__/

/app/main/__pycache__/

# Translations
*.mo
